<mat-card>
  <mat-card-title>{{todo.title}}</mat-card-title>
  <mat-card-subtitle>
    Created: {{todo.createdAt | date}}
    <span *ngIf="(todo.createdAt < todo.updatedAt)">
      Modified: {{todo.updatedAt | date}}
    </span>
  </mat-card-subtitle>
  <div class="text-container">
    {{todo.description}}
  </div>
  <mat-card-actions>
    <div class="btn-container">
      <div>
        <button mat-button class="complete-btn" (click)="completeTodo(todo.id)" >Done</button>
      </div>
      <div>
        <button mat-button class="edit-btn" (click)="openDialog(todo.id)">Edit</button>
        <button mat-button class="delete-btn" (click)="deleteTodo(todo.id)">Delete</button>
      </div>
    </div>

  </mat-card-actions>
</mat-card>
