.container {
  background-color: rgba(255, 255, 255, 0.781);
  box-shadow: 2px 4px #11111170;
  /* border: 0.5px rgba(0, 0, 0, 0.363) solid; */
  width: 35%;
  margin:auto;
  margin-top: 5%;
  padding-top: 3%;
  border-radius: 1%;
}
.title-input {
  color: black;
}
textarea {
  color: black;
}
mat-label {
  color:rgba(24, 24, 24, 0.986);

}

mat-form-field {
  margin-left: 28%;
}

small {
  margin-left: 28%;
  color: red !important;
}

button {
  background-color:  rgba(67, 78, 238, 0.89);
  border: 0.5px black solid;
  margin-left: 40%;
  margin-bottom: 4%;
  font-size: 14px;
}

.title-field {
  margin-bottom: 3%;
}

.description-field {
  margin-bottom: 5%;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgba(196, 27, 21, 0.897) !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(26, 27, 26, 0.897) !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: rgba(67, 78, 238, 0.89) !important;;
}
