<div class="container">
  <form [formGroup]="form">
    <div class="title-field">
      <mat-form-field>
        <mat-label class="title-label">Title:</mat-label>
        <input matInput class="title-input" type="text" formControlName="title">
      </mat-form-field>
      <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
        <small *ngIf="form.get('title').errors.required">
          Please enter a title.
        </small>
        <small *ngIf="form.get('title').errors.minlength">
          Title should be at least 1 characters long.
        </small>
      </div>
    </div>

    <div class="description-field">
      <mat-form-field>
        <mat-label class="description-label">Description:</mat-label>
        <!-- <input matInput class="description-input" type="text" formControlName="description"> -->
        <textarea matInput class="description-input" formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </form>

  <button mat-button [disabled]="form.invalid" (click)="createTodo()">Submit</button>
</div>
