.container {
  margin-top: 5%;
}
mat-card {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
  margin-bottom: 0.2%;
  background-color: rgba(255, 255, 255, 0.856);
  color: rgba(36, 36, 36, 0.822);
}

mat-card-subtitle {
  display: flex;
  justify-content: space-between;
  color: black;
}
.text-container {
  width: 100%;
  height: fit-content;
  word-wrap: break-word;
}
.btn-container {
  display: flex;
  justify-content: space-between;
}
.complete-btn {
  left: 10%;
  background-color: rgba(96, 228, 43, 0.699);
  font-size: 12px;
}
.delete-btn {
  background-color: rgba(226, 33, 33, 0.699);
  font-size: 12px;
}
.edit-btn {
  background-color: rgba(96, 228, 43, 0.699);
  font-size: 12px;
}
