<div class="container">
  <div *ngFor="let todo of todos$ | async">
    <app-single-todo [todo]="todo" (deleteTodoId)="deleteTodo($event)" (completeTodoId)="completeTodo($event)"
      (updateTodoData)="updateTodo($event.todo, $event.id)">
    </app-single-todo>
  </div>
</div>
