<mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
      <div class="title-field">
        <mat-form-field>
          <mat-label class="title-label">Title:</mat-label>
          <input matInput class="title-input" type="text" formControlName="title" [(ngModel)]="todo.title">
        </mat-form-field>
        <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
          <small *ngIf="form.get('title').errors.required">
            Please enter a title.
          </small>
          <small *ngIf="form.get('title').errors.minlength">
            Title should be at least 1 characters long.
          </small>
        </div>
      </div>
      <div class="description-field">
        <mat-form-field>
          <mat-label class="description-label">Description:</mat-label>
          <textarea matInput class="description-input" formControlName="description" [(ngModel)]="todo.description"></textarea>
        </mat-form-field>
      </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="submit-btn" (click)="updateTodo()" [disabled]="form.invalid">Submit</button>
  <button mat-button mat-dialog-close class="cancel-btn">Cancel</button>
</mat-dialog-actions>
