.mat-typography {
  width: 380px;
}
.title-input {
  color: black;
}
textarea {
  color: black !important;
}
mat-label {
  color:rgba(24, 24, 24, 0.986);

}

mat-form-field {
  margin-left: 28%;
}

small {
  margin-left: 28%;
  color: red !important;
}
mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}
.submit-btn {
  background-color: rgba(96, 228, 43, 0.699);
  font-size: 12px;
}
.cancel-btn {
  background-color: rgba(226, 33, 33, 0.699);
  font-size: 12px;
}

.title-field {
  margin-bottom: 3%;
}

.description-field {
  margin-bottom: 5%;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgba(196, 27, 21, 0.897) !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(26, 27, 26, 0.897) !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: rgba(67, 78, 238, 0.89) !important;;
}

::ng-deep.mat-dialog-container {
  /*change color of underline when focused*/
  background-color:rgb(255, 255, 255) !important;
  color: black !important;
 }
