<mat-drawer-container class="main-container">
  <mat-drawer class="drawer-container" mode="side" opened>
    <h3>FALCON.IO TODO</h3>
    <mat-nav-list>
      <a mat-list-item routerLink="/todos">
        <span class="nav-caption">All Todos</span>
      </a>
      <a mat-list-item routerLink="/todos/new">
        <span class="nav-caption">New Todo</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="content-container">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
