.main-container {
  height: 100%;
  width: 100%;
  border: 1px solid rgb(27, 27, 27);
}

.drawer-container {
  width: 15%;
  background-color: rgba(67, 78, 238, 0.74);
}

.content-container {
  background-color: rgb(202, 202, 202);
}

h3 {
  margin-top: 5%;
  margin-bottom: 20%;
  margin-left: 15%;
  font-weight: bold;
  font-size: 22px;
}
a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: rgb(255, 255, 255);
}

